/* Hashtags
  #test - any test stuff that needs removing later
  #weird - any weird stuff I don't understand but don't have time to look up/doesn't matter
*/

@media screen and (max-width: 1100px) { /*Desktop small*/

  #content {
    margin-top: 30px;
    padding-top: 12em;
  }
  #content p {
    width: 90%;               /* reduces extent of margins on paragraph text for smaller resolutions */
  }
  #content ul {
    width: 90%;               /* matches p */
  }

  #header-logo {
    top: 50px;
    left: 200px;
  }

  #navbuttons {
    margin-bottom: 20px;
  }
  #navbuttons-aligner {
    width: 630px;
  }


  #contact {
    top: 120px;
    left: 210px;
    z-index: 100;
  }
  #facebook {
    top: 110px;
    left: 338px;
    z-index: 100;
  }

  ul.body {
    padding-left: 0.25em;          /* reduces padding as it causes ridiculous misalign */
  }
  ul.lesspadding {
    padding-left: 0.5em;
  }
}

@media screen and (max-width: 750px) { /*Tablet*/

  body {
    font-size: 1.4rem;
  }

  /* CSS for table mobile fix JavaScript, from: http://sitesforprofit.com/responsive-tables-in-wordpress */
  table {width:100%;}
  thead {display: none;}
  tr:nth-of-type(2n) {background-color: inherit;}
  tr td:first-child {background: #f0f0f0; font-weight:bold;font-size:1.3em;}
  tbody td {display: block;  text-align:center;}
  tbody td:before {
    content: attr(data-th);
    display: block;
    text-align:center;
  }

  #content {
    margin-top: 60px;
    padding-top: 16em;
    background: blue; /*#test*/
  }

  header {                                               /* resize header for tablet */
    height: 277px;
  }
  #header-logo {
    background: url(../images/logo.png) no-repeat center/203px;    /* scales image */
    height: 203px;                /* gives it dimension, stops it from being cut off/too small */
    position: static;             /* returns to normal alignment from absolute */
    width: 100%;                  /* aligns mid */
  }
    #header-title {
      font-size: 4.5rem;
    }

  #nav ul {
    margin-top: 20px;
  }
    /*#navbuttons-aligner {
      width: 400px;
    }not needed see style.css*/
    #home {                                                   /* box for home text in navigation box */
      background: #ffa123 no-repeat 0 0;
      /*height: 43px;*/
      /*padding-top: 15px;*/
      position: absolute;
        left: 0;
      width: 50%; /*Form a left column, along with left: 0;, right: 0; below forms the right column*/
      z-index: 0;
    }
    #events {
      background: #0082ba no-repeat 0 0;
      position: absolute;
        right: 0;
      width: 50%;
      z-index: 0;
    }
    #diary {
      background: #ffdb11 no-repeat 0 0;
      position: absolute;
        left: 0;
        top: 58px; /*Have to start moving stuff down from the top row*/
      width: 50%;
      z-index: 0;
    }
    #news {
      background: #ffa123 no-repeat 0 0;
      position: absolute;
        right: 0;
        top: 58px;
      width: 50%;
      z-index: 0;
    }
    #videos {
      background: #ffa123 no-repeat 0 0;
      position: absolute;
        left: 0;
        top: 116px;
      width: 50%;
      z-index: 0;
    }
    #admin {
      background: #0082ba no-repeat 0 0;
      position: absolute;
        right: 0;
        top: 116px;
      width: 50%;
      z-index: 0;
    }
    #findus {
      background: #0082ba no-repeat 0 0;
      position: absolute;
        left: 0;
        top: 174px;
      width: 50%;
      z-index: 0;
    }
  #top ul li {
    font-size: 1.5rem;                                    /* fixes top logos etc so they don't interfere with design on lower resolutions; forces them to align centre-ish and out of the way of top graphics */
    display: inline;
  }
  #top img {
    width: 70px;
  }

  img.fluid {                                             /* left padding is weird, this makes it look better below max res, 1.3em is good max, 1em is good when not max */
    padding: 1em 1em 1em 1em;
  }
}

@media screen and (max-width: 500px) { /*Mobile phones*/

  body {
    font-size: 1.4rem;
  }

  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  h4 {
    font-size: 2rem;
  }

  header {
    height: 203px;                              /* Allows taglines to be snug under #header-title */
  }

  table {
    font-size: 1.4rem;
  }

  #content {
    margin-top: 80px;                          /* moves content out from underneath of navigation */
    padding-top: 18em;
  }



  #header-logo {
    background: url(../images/logo.png) no-repeat center/153px;    /* scales image */
    height: 153px;                /* gives it dimension, stops it from being cut off/too small */
    position: static;             /* returns to normal alignment from absolute */
    width: 100%;                  /* aligns mid */
  }
  #header-title {
    font-size: 3.2rem;
    margin-top: 163px;            /* works with position: absolute; below to bump it down under the logo */
    top: 0;
    width: 100%;                  /* aligns mid */
  }

  #nav {
    background: purple; /*#test*/

    /*height: 100px;*/
    padding: 0;
    margin: 0;
    width: 100%;          /* helps with centring */
  }


    #tagline-phone p {
      font-size: 2rem;
    }
    #tagline-email p {
      font-size: 1.5rem;
    }
    #tagline-address p {
      font-size: 1.2rem;
    }
    #tagline-charity p {
      font-size: 1.5rem;
    }

    #navbuttons {
      margin-bottom: 40px;
    }

  #tableBig {                                                  /* tables with more columns, needs smaller font */
    font-size: 1.2rem;
  }

  #top {
    visibility: hidden;
    height: 0;
  }

  .left {
    float: none;                                            /* just because floating doesn't work on mobile,
                                                            same below */
  }

  .right {
    float: none;
  }
}
