/* N.B. Everything up here is >1100px max-width, see breaks.css for other breakpoints */

/* Hashtags
#test - any test stuff that needs removing later
#weird - any weird stuff I don't understand but don't have time to look up/doesn't matter
*/


/* -------------------------
Basic element customisations - body, font faces, paragraph layout etc
------------------------- */

body {
  background: url(../images/background.jpg) #ffeac7 no-repeat 0% 0%/100%;
  font-family: "Arial", sans-serif;
  font-size: 1.6rem;
}

h1,h2,h3,h4 {
  font-family: "BenchNine", sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 1.5rem;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.4rem;
}

header {
  height: 373px;
  position: relative;                                  /* allows for positioning of header-title below */
  width: 100%;
}

img {
  margin: 0;
  padding: 2rem;
}

ol {
  margin: 1.5em auto;
  width: 60%;
}

ol li {
  padding: 0.5em 0;
}

p {
  margin: 0;
  padding: 1.5rem;
}

table {
  font-size: 1.6rem;
}

ul li {
  padding: 0.5em 0;
}

/* -------------------------
IDs and classes
------------------------- */

/*#aboutnav {
  width: 90%;
  margin: 0 auto;
  border-bottom: 3px #105cbd solid;
}
#aboutnav h2 {
  margin: 0;
  padding: 0 0 0.5em 0;
}*/

#content {
  background: #fff;
  margin-top: 30px;
  padding: 6em 2em 2em 2em;
}
#content p {                                           /* better margins for text on desktop */
  width: 70%;
  margin: 0 auto;
}



/* HEADER LOGO/TITLE AREA - lots of fancy layout stuff needed for this! */

#header-left { /*contains logo in a left column*/
  background: orange; /*#test*/
  width: 25%;
  height: 233px;
  position: absolute;
    top: 100px;
    left: 0;
}
  #header-logo { /*logo itself, sits in header-logo-box and ignores its width % attribute as it has a fixed pixel width*/
    background: url(../images/logo.png) no-repeat center/233px;
    width: 233px;
    height: 233px;
  }
#header-right { /*right side container in header, right of logo*/
  background-color: red;
  font-family: "Arial Narrow", sans-serif;
  position: absolute;
    top: 120px;
    left: 30%;
  width: 70%;
}
  #header-tagline { /*header tagline learning difficulty*/
    background-color: purple;
    float: left;
    width: 76%;
  }
  #header-tagline h1 {
    font-family: "Arial Narrow", sans-serif;
    font-size: 3.2rem;
    margin: 0;
    padding: 0px 0 0 0;
    text-align: left;
  }
  #header-title {
    background-color: purple;
    float: left;
    height: 75px;
    width: 76%;
  }
  #header-title h1 {
    font-size: 7.3rem;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  #lottery { /*lottery logo to right of header title and tagline*/
    background-color: brown;
    background: url(../images/lottery.jpg) no-repeat 0 0/160px;
    float: right;
    height: 169px;              /*+20px over height of image to push rest of header area further down as margin-top on below doesn't seem to work */
    width: 24%;
  }
  #tagline-box {/*contains phone and email taglines*/
    background-color: green;
    height: 50px;               /*need height to prevent floats below from stacking horizontally against this*/
    width: 100%;
    clear: both;                /*needed to avoid problems with float:right in header lottery logo*/
  }
    #tagline-email {
      background-color: cyan;
      width: 50%;
      float: right;
    }
      #tagline-email p {
        color: #fff;
        float: right;
        font-size: 2.2rem;
        margin: 0;
        padding: 0;
        text-shadow:                                       /* adds "stroke" to text, really a fudged shadow, the best CSS 3 can do apparently */
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
      }
    #tagline-phone {
      background-color: yellow;
      width: 50%;
      float: left;
    }
      #tagline-phone p {
        color: #fff;
        float: left;                                      /* aligns phone text left underneath header text */
        font-size: 2.5rem;
        margin: 0;
        padding: 0;
        text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
      }

  #tagline-address {
    background-color: blue;
    width: 100%;
    height: 70px;
    text-align: center;
  }
    #tagline-address p {
      color: #fff;
      font-size: 1.75rem;
      margin: 0 auto;                                    /*gives it a better margin along with width: 80% below*/
      padding: 0;
      text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
      width: 80%;
    }
  #tagline-charity {/*charity no.*/
    background-color: darkorange;
    width: 100%;
    text-align: center;
  }
  #tagline-charity p {
    color: #fff;
    font-size: 1.75rem;
    margin: 0;
    padding: 0;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }



/* Old layout */
/*#header-logo {
  background: url(../images/logo.png) no-repeat center/233px;
  height: 233px;
  position: absolute;                                 aligns well until first breakpoint, then needs fixing, see below!
  top: 0;
  left: 0;
  width: 263px;
}
#header-title-container {                             allows for centring of header-title despite absolute positioning
  margin: 0 auto;
  width: 880px;                                       for some reason this scales for mobile without having to add breakpoints with smaller pixel values below, could be due to Skeleton? #weird I think it's because of text-align center below, when you add background colour this element behaves as I'd expect, not centred at all
}
#header-title {
  font-size: 5.5rem;
  font-weight: 900;
  margin-top: 100px;
  padding: 0;
  position: absolute;
    bottom: 0;                                        aligns along bottom to line up with tagline text and navigation
  text-align: center;
  text-shadow:                                        adds "stroke" to text, really a fudged shadow, the best CSS 3 can do apparently
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
#header-tagline {
  font-size: 5.5rem;
  font-weight: 900;
  margin-top: 100px;
  padding: 0;
  text-align: center;
  text-shadow:                                        adds "stroke" to text, really a fudged shadow, the best CSS 3 can do apparently
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
End of old layout of header title area*/





#footer {
  font-size: 0.75em;
  text-align: center;
}
  #footer a:link {
    color: #000;
  }
  #footer a:visited {
    color: #000;
  }
  #footer ul {
    margin-bottom: 0;
  }
  #footer ul li {
    border-right: #000 solid 1px;                           /* adds the line effect to right of each link in footer */
    display: inline-block;                                  /* displays everything horizontal instead of vertical */
    margin-right: 20px;
    padding-right: 20px;
  }
  #footer ul li:last-child {
    border-right: 0;                                        /* stops border on last link */
    margin-right: 0;
  }

/* Navigation IDs */

  #nav {
    color: #000;
    font-size: 1.75rem;
    height: 113px;
    text-align: center;
    width: 100%;          /* helps with centring */
  }
    #nav p {
      font-size: 1.5rem;
    }

    #nav .centre {
      display: inline-block;                                  /* somehow causes nav to centre */
      *display: inline;                                       /* IE7 */
      *zoom: 1;
      width: 95%;
    }

    #navbuttons {                                             /* container for nav buttons */
      position: relative;
      text-shadow:                                       /* adds "stroke" to text, really a fudged shadow, the best CSS 3 can do apparently */
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }
    #navbuttons a.nav:link, a.nav:visited {
      text-decoration: none;
      color: #fff;
    }
      /*#navbuttons-aligner {                                   /* helps to centre absolutely positioned buttons below, when resized in breakpoints for smaller resolutions. Stops them from just sitting off-centre at in-between window sizes or resolutions! */
        /*margin: 20px auto 0 auto;
        position: relative;
        width: 880px;
      } commented out due to not being useful for desktop, as want navigation to right align*/



      #home {                                                   /* box for home text in navigation box */
        background: url(../images/nav-orange.png) no-repeat 0 0;
        height: 43px;
        padding-top: 15px;
        position: absolute;
          right: 504px;
        width: 94px;
        z-index: 150;
      }
      #events {
        background: url(../images/nav-yellow.png) no-repeat 0 0;
        height: 43px;
        padding-top: 15px;
        position: absolute;
          right: 420px;
        width: 94px;
        z-index: 140;
      }
      #diary {
        background: url(../images/nav-blue.png) no-repeat 0 0;
        height: 43px;
        padding-top: 15px;
        position: absolute;
          right: 336px;
        width: 94px;
        z-index: 130;
      }
      #news {
        background: url(../images/nav-yellow.png) no-repeat 0 0;
        height: 43px;
        padding-top: 15px;
        position: absolute;
          top: 0px;
          right: 252px;
        width: 94px;
        z-index: 120;
      }
      #videos {
        background: url(../images/nav-orange.png) no-repeat 0 0;
        height: 43px;
        padding-top: 15px;
        position: absolute;
          right: 168px;
        width: 94px;
        z-index: 110;
      }
      #admin {
        background: url(../images/nav-blue.png) no-repeat 0 0;
        height: 43px;
        padding-top: 15px;
        position: absolute;
          top: 0px;
          right: 84px;
        width: 94px;
        z-index: 100;
      }
      #findus {
        background: url(../images/nav-orange.png) no-repeat 0 0;
        height: 43px;
        padding-top: 15px;
        position: absolute;
          top: 0px;
          right: 0px;
        width: 94px;
        z-index: 90;
      }

/* Nav IDs end */

#table {                                                  /* table on contacts page etc */
  margin: 0 auto;
  table-layout: fixed;
  width: 75%;
}
#table td {
  word-wrap: break-word;
}
#tableBig {                                               /* tables with more columns */
  margin: 0 auto;
  table-layout: fixed;
  width: 90%;
}

#top {                                                    /* navigation links at top of each page */
  color: #fff;
  font-size: 1.75rem;
  text-align: right;
  width: 100%;                                            /* helps with centring navigation */
}
#top img {
  margin: 0;
  padding: 0;
  vertical-align: top;                                    /* fixes images wanting to stick to bottom of tallest image, like the accredited logo! */
}
#top ul {
  margin: 20px 0 0 0;                                       /* removes margin so aligns with bottom of box better
                                                          - keeps margin on top to space from other text*/
}

#top ul li {
  display: inline-block;                                /* wraps with viewport size */
  font-size: 1.5rem;
  margin-right: 20px;                                   /* spacing for list items when horizontal */
  text-align:left;
  *display:inline;/* IE7 */
  *zoom:1;

}
#top ul li:last-child {
  margin-right: 0;                                        /* prevents margin from throwing off last list item */
}

div a.nostyle {
  color: #000;
  text-decoration: none;
}

h1,h2,h3,h4.title {                                                /* title at top of all content pages */
  padding: 1em 0 1.5em 0;
  text-align: center;
}
/*h1,h2,h3,h4.linkbutton {
  color: #000;
  margin: 0;
  padding: 0.5em;
}
h1,h2,h3,h4.linkbutton a {
  color: #000;
  text-decoration: none;
}*/
h1.less-space, h2.less-space, h3.less-space, h4.less-space {
  padding: 1em;
  margin: 0;
}
h1.less-space-bottom, h2.less-space-bottom, h3.less-space-bottom, h4.less-space-bottom {
  padding: 1em 1em 0.4em 1em;
  margin: 0;
}
/*h1.pretty-green, h2.pretty-green, h3.pretty-green, h4.pretty-green {
  border-bottom: 5px #4fdcaf solid;
}
h1.pretty-orange, h2.pretty-orange, h3.pretty-orange, h4.pretty-orange {
  border-bottom: 5px #ffc55b solid;
}
h1.pretty-purple, h2.pretty-purple, h3.pretty-purple, h4.pretty-purple {
  border-bottom: 5px #583cca solid;
}
h1.pretty-blue, h2.pretty-blue, h3.pretty-blue, h4.pretty-blue {
  border-bottom: 5px #5f94dd solid;
}*/
h1.width-small, h2.width-small, h3.width-small, h4.width-small {
  width: 70%;
  margin: 0 auto;
}
h1.pagenav {
  font-size: 4.5rem;
  margin: 0;
  padding: 0 0 0.25em 0;
}
h2.mission {
  margin: 0;
  padding: 1em 0 0.5em 0;
}
h3.contents {
  padding: 1.5em 0 0 0;
}

img.200 {
  width: 200px;
}
img.fluid {
  max-width: 90%;
  margin: 0 auto;
  padding: 1em 1em 1em 1.3em;
}
img.left {
  float: left;
}
img.right {
  float: right;
}

p.backtotop {
  font-weight: bolder;
  padding: 2em 0 2em 0;
  text-align: center;
}
p.centre {
  text-align: center;
}

ul.body {
  padding-left: 0.5em;
  margin: 0 auto;
  width: 70%;
}
ul.compact {
  margin: 0 auto;
  padding: 0.5em;
  width: 70%;
}
ul.compact li {
  padding: 0;
  margin: 0;
}
ul.contents {
  list-style: none;
  margin: 20px auto;
  padding: 0.5em;
  text-align: center;
  width: 70%;
}
ul.contents li {
  padding: 0;
}
ul.lesspadding {
  padding-left: 3em;
  width: 70%;
}
ul.nostyle {                                             /* removes styling from lists as needed */
  list-style: none;
  margin-left: 1.5rem;
}
ul.pagenav {
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
ul.pagenav li {
  border-right: #000 solid 1px;                           /* adds the line effect to right of each link in footer */
  display: inline-block;                                  /* displays everything horizontal instead of vertical */
}
ul.pagenav li.noborder {
  border-right: 0;                                        /* stops border on any link it's not wanted on */
  margin-right: 0;
}
ul.pagenav li.pagenav-li {
  margin: 0;
  padding: 0 1.5em 0 1.5em;
}
ul.sitemap {
  margin: 20px auto;
  width: 70%;
}

.background-blue {
  background: #c6dcf8;
}
.background-green {
  background: #4fdcaf;
}
.background-green-light {
  background: #87efcd;
}
.background-orange {
  background: #ffd890;
}
.background-orange-light {
  background: #ffeac7;
}
.background-orange-dark {
  background: #ffc55b;
}
.background-purple {
  background: #d2c9fa;
}

.centre {
  text-align: center;
}
.centre-400 {                                             /* centres images with 400px width */
  margin: 0 auto;
  max-width: 100%;
  width: 400px;
}
.centre-600 {                                             /* centres images with 600px width */
  margin: 0 auto;
  max-width: 100%;
  width: 600px;
}

.left {
  float: left;
}
.right {
  float: right;
}

.spacer {                                                /* works with Skeleton to allow white space between vertically stacked divs */
  float: left;
  height: 3em;
  width: 100%;
}

.vertical-top {
  vertical-align: top;
}
